*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    background: linear-gradient(#2b1055,#7597de);
}

nav{
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

nav > a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 32px;
}

nav .logo{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}

nav ul li a:hover , nav ul li a.active{
    background: #fff;
    color: #2b1055;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    text-align: center;
    padding: 130px;
    margin-top: 80px;
}

header h1{
    color: #FFFFFF;
    font-size: 7.5vh;
    z-index: 9;
}

header p{
    font-size: 20px;
    margin-bottom: 2em;
}

#estrela img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}



#Areas{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

#Areas div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    color: #FFFFFF;
    margin-bottom: 150px;
}

#Areas div li{
    list-style: none;
}

#Areas div li a {
    font-size: 2em;
    padding: 6px 15px;
    color: #fff;
    transition: 0.5s;
}

#Areas div img{
    border-radius: 50px;
    max-width:140px;
    max-height:90px;
    width: auto;
    height: auto;
}

footer{
    position: relative;
    width: 100%;
    background: linear-gradient( #228B22,#A0522D);
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

footer .social_icon, footer .menu2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social_icon li, footer .menu2 li{
    list-style: none;

}

footer .social_icon li a{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icon li a:hover{
    transform: translateY(-10px);
}

footer .menu2 li a{
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}

footer.menu2 li a:hover{
    opacity: 1;
}

footer p{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

@media screen and (min-width: 768px) {
    #Areas{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1000px;
        margin: 0 auto;
    }

    #Areas div{
        flex-grow: 1;
        flex-basis: 150px;
        padding: 0 10px;
    }
    
}


